[mysqld]

#replicate-wild-ignore-table=drupal.cache%
#replicate-wild-ignore-table=drupal.search%
#replicate-ignore-table=drupal.history
#replicate-ignore-table=drupal.sessions


#replicate-ignore-table=drupal.watchdog
#replicate-ignore-table=drupal.key_value_expire


#replicate-wild-ignore-table=drupal.config%
#replicate-ignore-table=drupal.key_value


replicate-wild-do-table=drupal.node%
replicate-wild-do-table=drupal.user%
replicate-wild-do-table=drupal.comment%
replicate-wild-do-table=drupal.file%
replicate-wild-do-table=drupal.shortcut%
replicate-wild-do-table=drupal.taxonomy_term%
replicate-wild-do-table=drupal.url_alias
replicate-wild-do-table=drupal.cachetags