[mysqld]
log-basename=slave
log-bin=mariadb-bin
server-id=2

#replicate-wild-ignore-table=drupal.cache%
#replicate-wild-ignore-table=drupal.search%
#replicate-ignore-table=drupal.history
#replicate-ignore-table=drupal.sessions

replicate-ignore-table=drupal.watchdog
replicate-ignore-table=drupal.key_value_expire
